.top-bar {
  position: relative;
  width: 100%;
}

.scroll-container {
  position: fixed;
  height: 0;
  width: 100%;
  z-index: 1000;
}
.scroll-indicator {
  height: 10px;
  background-color: blue;
  transition: width 0.25s ease-out;
}
