.top-progress-bar {
  position: relative;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #f0f0f0;
  z-index: 1000;
}

.current-scroll-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.25s ease-out;
}

.data-container {
  margin-top: 20px;
  padding: 20px;
}

.data-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.text-red-500 {
  color: red;
}
