.container {
  display: flex;
  justify-content: center;
}
.item-card {
  background-color: #d84444;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-item {
  flex-grow: 1;
  padding: 5px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.add-btn {
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.item-info {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
}

.item-icon {
  margin-right: 5px;
}

.quantity-control {
  display: flex;
  align-items: end;
  gap: 5px;
}

.items-control button {
  background-color: white;
  border: none;
  border-radius: 40%;
  padding: 6px;
  cursor: pointer;
}

.item-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.items-control span {
  background-color: white;
  color: black;
  padding: 2px 8px;
  margin: 0px 4px;
  border-radius: 4px;
}

.total {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}
